# Terraform/OpenTofu
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.tfplan

# Credentials OpenStack (NE JAMAIS COMMITTER)
infra/openrc.sh
infra/openrc-auto.sh

# Python
portal/.venv/
portal/__pycache__/
portal/*.pyc
infra/terraform.tfstate*.backup
